body,
html {
	padding: 0; margin: 0;
}
body {
	background-color: #EFEFEF;
}
.app-bar-name {
    padding-left: 20px;
}
.tutorial-card {
	position: relative;
	width: 66%;
	margin: auto;

	text-align: center;
	margin-top: 5%;
	padding: 50px;
}
.tutorial-card .title {
	color: #49b287;
	padding-bottom: 20px;
}
.tutorial-card .text {
	color: #245a43;
}